.SIMRacingApps-Widget-StandingsTop20 {
    line-height: 250%;
	overflow:hidden;
    /* background: dimgray; */
    color: white;
    padding: 0;
}

.SIMRacingApps-Widget-StandingsTop20-TitleHeader {
    background-color: rgba(0,0,0,.7);
}

.SIMRacingApps-Widget-StandingsTop20-Title {
    font-size: 140%;
    font-weight: bold;
    color: gold;
    padding-bottom: 1%;
    padding-left: 1%;
    white-space: nowrap;
}

.SIMRacingApps-Widget-StandingsTop20-SOF {
    font-size: 140%;
    color: gold;
    padding-bottom: 1%;
    padding-right: 1%;
    white-space: nowrap;
    text-align: right;
}

.SIMRacingApps-Widget-StandingsTop20-GridHeader {
    background-color: black;
    color: white;
}

.SIMRacingApps-Widget-StandingsTop20-GridBody {
    font-size: 100%;
    line-height: 125%; /* this controls the height of the entire table at the given font and padding*/
}

.SIMRacingApps-Widget-StandingsTop20-GridRow {
}

.SIMRacingApps-Widget-StandingsTop20-GridRowBackground-talking {
    background-color: orange !important;
}

.SIMRacingApps-Widget-StandingsTop20-GridRowBackground-reference {
    background-color: black !important;
}

.SIMRacingApps-Widget-StandingsTop20-GridRowForeground {
}

.SIMRacingApps-Widget-StandingsTop20-POS {
    width: 3%;
    text-align: center;
}
.SIMRacingApps-Widget-StandingsTop20-POSClass {
    width: 3%;
    text-align: center;
}
.SIMRacingApps-Widget-StandingsTop20-POSQual {
    width: 3%;
    text-align: center;
}

.SIMRacingApps-Widget-StandingsTop20-CarNumber {
    width: 4%;
}

.SIMRacingApps-Widget-StandingsTop20-MfrLogo {
    background-repeat:   no-repeat;
    background-size:     contain;
    background-position: center;
    width:               3%;
}

.SIMRacingApps-Widget-StandingsTop20-CarDriverName {
    text-align: left;
    padding-left: 1%;
    white-space: nowrap;
    overflow: hidden;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 24.5%;
}

.SIMRacingApps-Widget-StandingsTop20-CarDriverName-Club {
    font-size: 80%;
    font-style: italic;
}

.SIMRacingApps-Widget-StandingsTop20-DiscontinualityHeader {
    font-size: 80%;
}
.SIMRacingApps-Widget-StandingsTop20-Discontinuality {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: .5%;
    width: 2.5%;
}

.SIMRacingApps-Widget-StandingsTop20-Rating {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 12%;
}

.SIMRacingApps-Widget-StandingsTop20-Lap {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.SIMRacingApps-Widget-StandingsTop20-Run {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 5%;
}

.SIMRacingApps-Widget-StandingsTop20-Pit {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    width: 6%;
}


.SIMRacingApps-Widget-StandingsTop20-Behind {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    width: 10%;
}

.SIMRacingApps-Widget-StandingsTop20-Best {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 10%;
}

.SIMRacingApps-Widget-StandingsTop20-Last {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 1%;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 10%;
}
.SIMRacingApps-Widget-StandingsTop20-POSDiff {
    width: 4%;
    text-align: center;
}


.SIMRacingApps-Widget-StandingsTop20-Best-Y {
    border-color: chartreuse;
    border-width: thin;
    border-style: inset;
}

.SIMRacingApps-Widget-StandingsTop20-Fastest-Y {
    border-color: chartreuse;
    border-width: thin;
    border-style: inset;
}

.SIMRacingApps-Widget-StandingsTop20-BelowMinimumSpeed-Y {
    border-color: red !important;
    border-width: thin;
    border-style: inset;
}
