.SIMRacingApps-Widget-StandingsTop43 {
    line-height: 170%;
	overflow:hidden;
    /* background: dimgray; */
    color: white;
    padding: 0;
}

.SIMRacingApps-Widget-StandingsTop43-Title {
    font-size: 120%;
    font-weight: bold;
    color: gold;
    padding-bottom: 1%;
    padding-left: 1%;
    white-space: nowrap;
}

.SIMRacingApps-Widget-StandingsTop43-SOF {
    font-size: 120%;
    color: gold;
    padding-bottom: 1%;
    padding-right: 1%;
    white-space: nowrap;
    text-align: right;
}

.SIMRacingApps-Widget-StandingsTop43-GridHeader {
    background-color: black;
    color: white;
}

.SIMRacingApps-Widget-StandingsTop43-GridBody {
    font-size: 100%;
    line-height: 125%; /* this controls the height of the entire table at the given font and padding*/
}

.SIMRacingApps-Widget-StandingsTop43-GridRow {
}

.SIMRacingApps-Widget-StandingsTop43-GridRowBackground-talking {
    background-color: orange !important;
}

.SIMRacingApps-Widget-StandingsTop43-GridRowBackground-reference {
    background-color: black !important;
}

.SIMRacingApps-Widget-StandingsTop43-GridRowForeground {
}

.SIMRacingApps-Widget-StandingsTop43-POS {
    width: 3%;
    text-align: center;
}
.SIMRacingApps-Widget-StandingsTop43-POSClass {
    width: 3%;
    text-align: center;
}
.SIMRacingApps-Widget-StandingsTop43-POSQual {
    width: 3%;
    text-align: center;
}

.SIMRacingApps-Widget-StandingsTop43-CarNumber {
    width: 4%;
}

.SIMRacingApps-Widget-StandingsTop43-MfrLogo {
    background-repeat:   no-repeat;
    background-size:     contain;
    background-position: center;
    width:               3%;
}

.SIMRacingApps-Widget-StandingsTop43-CarDriverName {
    text-align: left;
    padding-left: 1%;
    white-space: nowrap;
    overflow: hidden;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 24.5%;
}

.SIMRacingApps-Widget-StandingsTop43-CarDriverName-Club {
    font-size: 80%;
    font-style: italic;
}

.SIMRacingApps-Widget-StandingsTop43-DiscontinualityHeader {
    font-size: 80%;
}
.SIMRacingApps-Widget-StandingsTop43-Discontinuality {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: .5%;
    width: 2.5%;
}

.SIMRacingApps-Widget-StandingsTop43-Rating {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 12%;
}

.SIMRacingApps-Widget-StandingsTop43-Lap {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.SIMRacingApps-Widget-StandingsTop43-Run {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 5%;
}

.SIMRacingApps-Widget-StandingsTop43-Pit {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    width: 6%;
}


.SIMRacingApps-Widget-StandingsTop43-Behind {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    width: 10%;
}

.SIMRacingApps-Widget-StandingsTop43-Best {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 10%;
}

.SIMRacingApps-Widget-StandingsTop43-Last {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 1%;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 10%;
}

.SIMRacingApps-Widget-StandingsTop43-POSDiff {
    width: 4%;
    text-align: center;
}

.SIMRacingApps-Widget-StandingsTop43-Best-Y {
    border-color: chartreuse;
    border-width: thin;
    border-style: inset;
}

.SIMRacingApps-Widget-StandingsTop43-Fastest-Y {
    border-color: chartreuse;
    border-width: thin;
    border-style: inset;
}

.SIMRacingApps-Widget-StandingsTop43-BelowMinimumSpeed-Y {
    border-color: red !important;
    border-width: thin;
    border-style: inset;
}
