.SIMRacingApps-Widget-CarLeft {
    width: 100%;
    height: 100%;
}

.SIMRacingApps-Widget-CarLeft-text {
    font-size:      1300%;
    font-weight:    bold;
    line-height:    150%;
    text-align:     center;
    color:          gold;
}
