/*@import any css settings you are going to override in this file */
/*@import "../?"*/

.SIMRacingApps-Widget-ChartTest {
    width:         100%;
    height:        100%;
    overflow:      hidden;
}
