
.SIMRacingApps-Widget-Relative {
    line-height: 300%;
	font-size: 100%;
    overflow:hidden;
    /* background: dimgray; */
    color: white;
    padding: 0;
}

.SIMRacingApps-Widget-Relative-Title {
    font-size: 300%;
    font-weight: bold;
    color: gold;
    padding-bottom: 1%;
    padding-left: 1%;
    white-space: nowrap;
}

.SIMRacingApps-Widget-Relative-GridBody {
    font-size: 200%;
    line-height: 120%; /* this controls the height of the entire table at the given font and padding*/
}

.SIMRacingApps-Widget-Relative-GridRow {
}

.SIMRacingApps-Widget-Relative-GridRowBackground-talking {
    background-color: orange !important;
}

.SIMRacingApps-Widget-Relative-GridRowBackground-reference {
    background-color: black !important;
}

.SIMRacingApps-Widget-Relative-GridRowForeground {
}

.SIMRacingApps-Widget-Relative-POS {
    text-align: center;
    width: 6%;
}

.SIMRacingApps-Widget-Relative-POSClass {
    text-align: center;
    width: 6%;
}

.SIMRacingApps-Widget-Relative-CarNumber {
    width: 6%;
}

.SIMRacingApps-Widget-Relative-MfrLogo {
    background-repeat:   no-repeat;
    background-size:     contain;
    background-position: center;
    width: 6%;
}

.SIMRacingApps-Widget-Relative-CarDriverName {
    text-align: left;
    padding-left: 1%;
    white-space: nowrap;
    overflow: hidden;
    border-color: transparent;
    border-width: thin;
    border-style: inset;
    width: 46%;
}

.SIMRacingApps-Widget-Relative-CarDriverName-Club {
    font-size: 80%;
    font-style: italic;
}

.SIMRacingApps-Widget-Relative-CarBehindLeader {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 1%;
    width: 15%;
}

.SIMRacingApps-Widget-Relative-CarBehind {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    padding-right: 1%;
    width: 15%;
}

.SIMRacingApps-Widget-Relative-Footer {
    padding-top: 1%;
    width: 100%;
    font-size: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.SIMRacingApps-Widget-Relative-Lap {
	width: 50%;
	padding-left: 1%;
	padding-top: 1%
    text-align: left;
}

.SIMRacingApps-Widget-Relative-Last {
	width: 50%;
	padding-right: 1%;
    padding-top: 1%;
	text-align: right;
}

.SIMRacingApps-Widget-Relative-BelowMinimumSpeed-Y {
    border-color: red !important;
    border-width: thin;
    border-style: inset;
}
