.SIMRacingApps-Widget-CarNumber {
    width: 100%;
    height: 100%;
    font-weight:   bold;
    stroke-width:  15px;
}

.SIMRacingApps-Widget-CarNumber-background {
    opacity:    .8;
}
.SIMRacingApps-Widget-CarNumber-text {
}
.SIMRacingApps-Widget-CarNumber-text-background {
}

.SIMRacingApps-Widget-CarNumber-slant-normal {

}
