.SIMRacingApps-Widget-CarNumber {
    width: 100%;
    height: 100%;
    font-weight:   bold;
    stroke-width:  15px;
}

.SIMRacingApps-Widgets-CarNumber-svg {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.SIMRacingApps-Widget-CarNumber-background {
    /* opacity:    .8; */
}
.SIMRacingApps-Widget-CarNumber-text {
}
.SIMRacingApps-Widget-CarNumber-text-background {
}

.SIMRacingApps-Widget-CarNumber-slant-normal {

}

.SIMRacingApps-Widget-CarNumber-image {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size:    cover;
    background-repeat:  no-repeat;
    background-position: center;
    border-radius:  25% 25% / 35% 35%;
}