
.SIMRacingApps-App-StreamingOverlay-body {
    background-color: transparent;
}

.SIMRacingApps-App-StreamingOverlay {
    /*background: url(/SIMRacingApps/apps/StreamingOverlay/iRacing-Overlays.png); /*just for testing positioning*/
    /*background-size: contain; /*just for testing positioning*/
    
	width:100%;
    height:100%;
    overflow:hidden;
    position: relative;
    z-index:-1;
}

.SIMRacingApps-App-StreamingOverlay-StandingsBanner {
    position: absolute;
    width:50%;
    top: 0%;
    left: 25%;
    background-color: black; /*do not want to see through this to cover the chat*/
    border-radius: 1% 1% / 10% 10%;
}

.SIMRacingApps-App-StreamingOverlay-Relative {
    position: absolute;
    width:25%;
    height: 25%;
    font-size: 52%;
    right: 0%;
    bottom: 0%;
    background-color: black; /*do not want to see through this to cover black boxes */
}

.SIMRacingApps-App-StreamingOverlay-LapTiming {
    position: absolute;
    width: 25%;
    height: 25%;
    font-size: 52%;
    left: 0%;
    bottom: 0%;
}

.SIMRacingApps-App-StreamingOverlay-LapTiming .SIMRacingApps-Widget-LapTiming {
    background-color: black;
}

.SIMRacingApps-App-StreamingOverlay-TrackMap {
    position: absolute;
    width: 25%;
    right: 0%;
    bottom: 26%;
    font-size: 65%
}

/** Override the car size and make it bigger **/
.SIMRacingApps-App-StreamingOverlay-TrackMap .SIMRacingApps-Widget-TrackMap-CarContainer {
    width:     8%;
    height:    13.332%;
    font-size: 12%;
}


.SIMRacingApps-App-StreamingOverlay-Gauges {
    position: absolute;
    width:50%;
    height: 20%;
    bottom: 0%;
    left: 25%;
    background: url(Black-Background-Metal-800x480.png);
}

.SIMRacingApps-App-StreamingOverlay-Tach {
    z-index:    10;
    width:      21.6%;
    position:   absolute;
    left:       39.2%;
    top:        0%;
}

.SIMRacingApps-App-StreamingOverlay-small-gauge {
    position:   absolute;
    width:      11%;
    z-index:    5;
}

.SIMRacingApps-App-StreamingOverlay-WaterTemp {
    left:       28.5%;
    top:        4%;
}

.SIMRacingApps-App-StreamingOverlay-OilTemp {
    right:      28.5%;
    top:        4%;
}

.SIMRacingApps-App-StreamingOverlay-WaterPressure {
    left:       14.5%;
    top:        4%;
}

.SIMRacingApps-App-StreamingOverlay-OilPressure {
    right:      14.5%;
    top:        4%;
}


.SIMRacingApps-App-StreamingOverlay-WaterLevel {
    left:       .5%;
    top:        4%;
}

.SIMRacingApps-App-StreamingOverlay-OilLevel {
    right:      .5%;
    top:        4%;
}

.SIMRacingApps-App-StreamingOverlay-FuelPressure {
    left:       7.5%;
    top:        46%;
}

.SIMRacingApps-App-StreamingOverlay-Volt {
    right:      7.5%;
    top:        46%
}

.SIMRacingApps-App-StreamingOverlay-FuelLevel {
    left:       21.5%;
    top:        46%;
}

.SIMRacingApps-App-StreamingOverlay-BrakePressure {
    right:      21.5%;
    top:        46%;
}
