/*@import any css settings you are going to override in this file */
/*@import "../?"*/

/*made this a little smaller so the borders on the table would not get clipped */
.SIMRacingApps-Widget-CarSelector64 {
    width:         97%;
    height:        97%;
    font-size:     97%;
    margin-left:   1.5%;
    margin-top:    1.5%;
    overflow:      hidden;
}
.SIMRacingApps-Widget-CarSelector64-header {
    position:  relative;
    width:     100%;
    clear:     both;
}

.SIMRacingApps-Widget-CarSelector64-select {
    position:  relative;
    width:     100%;
    clear:     both;
}

.SIMRacingApps-Widget-CarSelector64-reference {
    clear:     left;
    float:     left;
    white-space: nowrap;
}

.SIMRacingApps-Widget-CarSelector64-button {
    background-color: green;
    text-align:center;
    font-size: 100%;
    float:     left;
    white-space: nowrap;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    padding-left:1%;
    padding-right:1%;
}

.SIMRacingApps-Widget-CarSelector64-all {
}

.SIMRacingApps-Widget-CarSelector64-leader {
}

.SIMRacingApps-Widget-CarSelector64-me {
}

.SIMRacingApps-Widget-CarSelector64-ahead {
}

.SIMRacingApps-Widget-CarSelector64-behind {
}

.SIMRacingApps-Widget-CarSelector64-reply {
}

.SIMRacingApps-Widget-CarSelector64-carstable {
    table-layout: fixed;
    width: 90%;
    font-size: 90%;
    border-collapse: separate;
    margin-top: 6%;
    left: 5%;
    bottom: 0%;
    position: absolute;
    background-color: #333333;
}

.SIMRacingApps-Widget-CarSelector64-car {
    width: 12.4%;
    font-size: 20%;
    border-color: black;
    border-width: thin;
    border-style: solid;
    overflow: hidden;
}

.SIMRacingApps-Widget-CarSelector64-car .SIMRacingApps-Widget-CarNumberExtended {
    width: 90%;
    margin-left: 5%;
    font-size: 90%;
}

.SIMRacingApps-Widget-CarSelector64-clickedstate-clicked {
    background-color: rgba(255,0,0,.3) !important;
}

.SIMRacingApps-Widget-CarSelector64-BelowMinimumSpeed-Y {
    border-color: red !important;
    border-width: thin;
    border-style: solid;
}
