@import "../DataTable/DataTable.css";

.SIMRacingApps-Widget-TrackMap {
    width:         100%;
    height:        100%;
}

.SIMRacingApps-Widget-TrackMap-map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.SIMRacingApps-Widget-TrackMap-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.SIMRacingApps-Widget-TrackMap-trackpath {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.SIMRacingApps-Widget-TrackMap-trackpathline-background {
    stroke:           rgba(55,0,255,.3);
	stroke-width:     2%;
    fill:             rgba(0,0,0,0);
}

.SIMRacingApps-Widget-TrackMap-trackpathline-nobackground {
    stroke:           rgba(155,155,155,1);
    stroke-width:     2%;
    fill:             rgba(0,0,0,0);
}

.SIMRacingApps-Widget-TrackMap-pitroadpath {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.SIMRacingApps-Widget-TrackMap-pitroadpathline-background {
    stroke:           rgba(55,0,0,.3);
    stroke-linecap:   butt;
    stroke-width:     1.5%;
    fill:             rgba(0,0,0,0);
}

.SIMRacingApps-Widget-TrackMap-pitroadpathline-nobackground {
    stroke:           rgba(155,155,155,1);
    stroke-linecap:   butt;
    stroke-width:     1.5%;
    fill:             rgba(0,0,0,0);
}

/* this class is positioned to start in the center */
.SIMRacingApps-Widget-TrackMap-center {
    position:          absolute;
    top:               50%;
    left:              50%;
    width:             100%;
    height:            100%;
    font-size:         100%;
}

.SIMRacingApps-Widget-TrackMap-trackname {
    position:          absolute;
    background-color:  rgba(0,0,0,.5);
    border-radius:     15px;
    padding-left:      4%;
    padding-right:     4%;
}

.SIMRacingApps-Widget-TrackMap-trackname .SIMRacingApps-Widget-DataTable {
    width:             auto;
}

.SIMRacingApps-Widget-TrackMap-trackname .SIMRacingApps-Widget-DataTable-row-time .SIMRacingAppsData {
    color:             chartreuse;
}

.SIMRacingApps-Widget-TrackMap-trackinfo {
    position:          absolute;
    background-color:  rgba(0,0,0,.5);
    border-radius:     15px;
    padding-left:      1%;
    padding-right:     1%;
}

.SIMRacingApps-Widget-TrackMap-trackinfo .SIMRacingApps-Widget-DataTable {
    width:             auto;
}

.SIMRacingApps-Widget-TrackMap-trackinfo .SIMRacingApps-Widget-DataTable-row-trackinfo .SIMRacingAppsData {
    font-size:         80%;
}
.SIMRacingApps-Widget-TrackMap-trackinfo .SIMRacingApps-Widget-DataTable-row-laps .SIMRacingAppsData {
    color:             cyan;
}

.SIMRacingApps-Widget-TrackMap-trackinfo .SIMRacingApps-Widget-DataTable-row-cautions .SIMRacingAppsData {
    color:             yellow;
}

.SIMRacingApps-Widget-TrackMap-trackinfo .SIMRacingApps-Widget-DataTable-row-remaining .SIMRacingAppsData {
    color:             chartreuse;
}

.SIMRacingApps-Widget-TrackMap-weatherinfo {
    position:          absolute;
    bottom:            0px;
    left:              0px;
    background-color:  rgba(0,0,0,.5);
    border-radius:     15px;
    padding-left:      2%;
    padding-right:     2%;
    font-size:         30%;
}

.SIMRacingApps-Widget-TrackMap-weatherinfo .SIMRacingApps-Widget-DataTable {
	width:             auto;
}

.SIMRacingApps-Widget-TrackMap-flags {
    position:          absolute;
    top:               -25%;
    left:              -25%;
    font-size:         50%;
    width:             50%;
    height:            50%;
/*     float:             left; */
/*     clear:             left; */
}

.SIMRacingAppsTrackMap-flags .SIMRacingAppsFlags-container {
/*     width:             50%; */
    position:          relative;
    bottom:            50%;
    right:             50%;
    width:             100%;
    height:            100%;
    float:             left;
}



.SIMRacingApps-Widget-TrackMap-weatherinfo .SIMRacingApps-Widget-DataTable-data-nolabel {
    text-align:        left;
}

.SIMRacingApps-Widget-TrackMap-windgauge {
    width:             15%;
    height:            15%;
    position:          absolute;
    top:               0px;
    right:             0px;
}

.SIMRacingApps-Widget-TrackMap-FinishLineContainer {
    position:  absolute;
}

.SIMRacingApps-Widget-TrackMap-CarContainer {
    position:  absolute;
    opacity:   .7;
    width:     6%;
    height:    10%;
    font-size: 9%;
}

.SIMRacingApps-Widget-TrackMap-MarkerContainer {
    position:  absolute;
}

.SIMRacingAppsCarStatusClassBackground-ONPITROAD-MARKER {
    opacity:               .5;
}

.SIMRacingAppsCarStatusClassBackground-ONTRACK-MARKER {
    opacity:               .3;
}

.SIMRacingAppsCarStatusClassBackground-ONPITROAD-PITSTALL {
    opacity:  1;
}

.SIMRacingApps-Widget-TrackMap-click {
    z-index:           10000;
    position:          absolute;
    background-color:  black;
    opacity:           .6;
    color:             white;
    bottom:            0px;
    right:             0px;
    font-weight:       bold;
    width:             60%;
    text-align:        right;
}

.SIMRacingApps-Widget-TrackMap-click input {
    width:             100%;
    text-align:        right;
    background-color:  inherit;
    color:             inherit;
}

/*This only works if this file is loaded after ol.css. Have not figured out how to control the load order of css files */
.ol-attribution ul {
    font-size: 50%;
}
