<div class="SIMRacingApps-Widget-TrackMap-FinishLine"
     data-ng-attr-style = "height: {{height}}px;">
    <div class="SIMRacingApps-Widget-TrackMap-FinishLine-buffer"
         style="width: 100%; height: 50%;">
    </div>
    <div class="SIMRacingApps-Widget-TrackMap-FinishLine-line"
         style="width: 100%; height: 10%;">
    </div>
    <div class="SIMRacingApps-Widget-TrackMap-FinishLine-line1" style="height: 20%;">
        <div class="SIMRacingApps-Widget-TrackMap-FinishLine-square"
             data-ng-repeat="square in [0,1,2,3,4,5,6,7,8,9]"
             data-ng-class-odd="'SIMRacingApps-Widget-TrackMap-FinishLine-white'"
             data-ng-class-even="'SIMRacingApps-Widget-TrackMap-FinishLine-black'"
             style="width: 10%; height: 100%;">
         </div>
    </div>
    <div class="SIMRacingApps-Widget-TrackMap-FinishLine-line2" style="height: 20%;">
        <div class="SIMRacingApps-Widget-TrackMap-FinishLine-square"
             data-ng-repeat="square in [0,1,2,3,4,5,6,7,8,9]"
             data-ng-class-odd="'SIMRacingApps-Widget-TrackMap-FinishLine-black'"
             data-ng-class-even="'SIMRacingApps-Widget-TrackMap-FinishLine-white'"
             style="width: 10%; height: 100%;">
         </div>
    </div>
</div>
